.logo {
  width: 12%;
  height: 6%;
  margin-top: 5px;
  margin-left: 10px;
}

.border {
  border: 5px solid black;
}

.splash-flex {
  display: flex;
  width: 100%;
  height: 470px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 12px;
}

.sign-in {
  width: 40%;
  height: 9%;
  border-radius: 10px;
  font-size: 13px;
  background-color: transparent;
}

.create-account {
  width: 150px;
  height: 9%;
  font-size: 13px;
  margin: 0px 15px;
  background-color: #f50;
  border-radius: 10px;
  color: white;
}

.buttons {
  display: flex;
}
