.logo {
  width: 12%;
  height: 6%;
  margin-top: 5px;
  margin-left: 10px;
}

.splash-flex {
  display: flex;
  width: 100%;
  height: 470px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 12px;
  border-top: 5px solid #f50;
  background-image: url(https://va.sndcdn.com/bg/soundcloud:sounds:198949150/SC_background.jpg)
}

.sign-in {
  width: 40%;
  height: 18%;
  border-radius: 10px;
  font-size: 13px;
  background-color: transparent;
  color: white;
}

.create-account {
  width: 150px;
  height: 18%;
  font-size: 13px;
  margin: 0px 15px;
  background-color: #f50;
  border-radius: 10px;
  color: white;
}

.buttons {
  display: flex;
}

.container {
  padding: 0 10px;
}

.promotion {
  display: flex;
  flex: 0 0 100%;
  width: 50%;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
    button {
      margin-top: 2%;
      width: 15%;
      height: 15%;
      background-color: #f50;
      border-radius: 5px;
    }
    h4 {
      width: 50%;
      color: white;
    }
    h1 {
      color: white;
    }
}
